---
import "./theme.css";
import "fontawesome-svgs/default.css";

interface Props {
	title: string;
	description: string;
	keywords: string;
	ogImage: string;
}

const { title, description, keywords, ogImage } = Astro.props as Props;

const canonicalUrl = new URL(Astro.url.pathname, "https://heledron.com").href;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/favicon.png" type="image/png"/>

	<!-- info -->
	<title>{title}</title>
	<meta name="author" content="Morgan"/>
	<meta name="description" content={description}/>
	<meta name="keywords" content={keywords}/>
	<link rel="canonical" href={canonicalUrl}/>
	<meta property="og:image" content={ogImage}/>
</head>
<body>
	<slot />
	<script>
		// Fix iOS Safari :active styles.
		document.documentElement.addEventListener("touchstart",()=>undefined);
	</script>
</body>
</html>